#container-body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px;
}

#container {
    margin: auto;
    background-color: rgb(205, 176, 232);
    width: 1000px;
}

#container-title {    
    display: flex;
    justify-content: center;
}

#container-image {
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 800px;
    height: 450px;
    border-radius: 20px;
}

#text {
    margin: 20px;
    text-align: left;
    line-height: 35px;
}